body{
    background-color:#0B3D91;
    text-align: center;

    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

h1{
    color: #00A8FF;
    text-align:center;
    font: 1em "Orbitron", sans-serif;
    text-size-adjust: 30;
}

button{
    color: #0047AB;
    text-size-adjust: 10;
}

.geo-regular {
    font-family: "Geo", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  
.geo-regular-italic {
    font-family: "Geo", sans-serif;
    font-weight: 400;
    font-style: italic;
}

footer{
    color: #00A8FF;
}

.img{
    width: 50%;
}